/* .container,.row{
        border:2px solid black;  
} */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ///////////////////////////////////////////////////Call us header CSS styling */
#nav-bar-line{
    background-color: black;
}

#call-us-heading{
    /* border: 2px solid black; */
    font-size:x-large;
    color:grey;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#call-us-heading img{
    width: 30px;
}
#call-us-heading span{
    font-weight: bold;
    background-color: fac310;
    margin-left: 10px;    
}
.blink{
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #000;
}

/*/////////////////////////////////////////////////// Navbar Styling */

button.navbar-toggler{
    color    : #fac310 !important;
}
#navbarNavDropdown{
    margin-left: 9%;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;    
    
}
#navbarNavDropdown a{
    color: white;
    font-size: small;
    padding-right: 20px;
}
#dropdown-list{
    padding: 0px;
}
#dropdown-list a{
    background-color: black;
}
#navbarNavDropdown a:hover{
    background-color: #fac310;
    border-radius: 10px;
}
#nav-search-box{
    margin-right: 9%;
}

#nav-search-box-icon{
    color: #fac310 ;
}


/* /////////////////////////////////////////////////Crousel CSS */

#crousel-section{
    opacity: 0.7;
}
#crousel-section img{
    height: 70vh;
}
button.carousel-control-prev{
    background: black;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 3%;
    border-radius: 25px;
    opacity: 0.5;
}
button.carousel-control-next{
    background: black;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-right: 3%;
    border-radius: 25px;
    opacity: 0.5;
}
#crousel-section h1,
#crousel-section p{
    background-color: rgb(0, 0, 0,0.6); 
    width:max-content;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}
#crousel-section p{
    font-size: 1.5rem;
}



/* ////////////////////////////////////////////////Our Services */

#our-services{
    background-color: #fac310;
    padding-bottom: 50px;
    height:750px;
}
#our-services .card {
    margin-top: 50px;
    border-radius: 30px;
    height: 400px;
    background-color: white;
}
#section-heading{
    padding-top: 75px;
    font-weight: bold ;
}

.service-icons-container{
    height: 150px;
    text-align: center;
}
.services-icons{
    width: 50%;
    height: 79%;
    margin: auto;
    border-radius: 58px;
    background-color: #DC143e;
    color: white;
    padding-top: 22px;
    margin-top: 12px;
}


/* /////////////////////////////////////Q and A Section CSS  */

#qAndaSection{
    height:max-content;
}
.comment-crousel-arrows{
    background-color: black !important;
}
#comment-crousel-arrow-left{
    margin-left: -78px;
}
#comment-crousel-arrows-right{
    margin-right: -78px;    
}
#message-box-carousel{
    border: 2px solid black;
    padding: 17px;
    border-radius: 40px;
    background-color: #F9F9F9;
}

/* /////////////////////////////////////Our Services Include section */

#include-services{
    background-color: #fac310;
    padding-bottom: 50px;
    height:500px;
    color: white;
}
.fa.fa-mail-forward{
    font-size: 1.3rem;
}
#include-services li{
    font-size: 1.2rem;
}
/* //////////////////////////////////////call-us-section CSS */
#call-us-section{
    background-color: lightgray;
    padding-bottom: 50px;
    height:250px;
    padding-top: 75px;
}
.btn-lg{
    background-color: #fac310;
}

/* //////////////////////////////////////Booking Form Section CSS */

#booking-form-section{
    background-color: #fac310;
    padding-bottom: 50px;
    height:550px;
    color: white;
}

/* ////////////////////////////////////////Upper Footer CSS  */
#upper-footer{
    background-color: #404040;
    color: white;
}
.contactDetailFavIcons{
    font-size: 0.8rem;
    text-align: center;
    background-color: #fac310;
    padding: 10px;
    border-radius: 50px;
}
#upper-footer li{
    font-size: 0.9rem;
    padding-top: 5px;
}
#upper-footer .list-group-item{
    background-color: #404040 ;
}
#upper-footer .list-group-item a{
    color: #999999;
    padding: 10px;
}
#upper-footer .list-group-item:hover{
    background-color: #fac310;
    cursor: pointer;
}
#upper-footer .list-group-item a:hover{
    color: white;
    text-decoration: none;
}


.line{
    margin: 0 0 35px;

}
.left-line{
    float: left;
    width: 20%;
    height: 2px;
    background: #fac310;
}
.right-line{
    float: right;
    width: 80%;
    height: 1px;
    background: #e1e1e1;
}
.calender-line{
    margin: 0 0 25px;

}
.prev-button,
.next-button{
    color: grey;
}
.today-button{
    color: white;
}
.month-label,
.year-label{
    font-weight: lighter;
}

/* ////////////////////////////////////////Lower Footer CSS  */

#lower-footer{
    background-color: black;
    color: white;
    font-weight: lighter;
}
}